<div id="floor">
    <div class="row">
        <div class="center-container">
            <div class="center-row">
                <div class="col-xs-4 box bg-one text-center"><h2>Hello</h2></div>
                <div class="col-xs-4 box bg-two text-center"><h2>World</h2></div>
                <div class="col-xs-4 box bg-three text-center"><h2>World</h2></div>
                <div class="col-xs-4 box bg-four text-center"><h2>Big</h2></div>
            </div>
        </div>
    </div>
</div>