html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: green; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .box .free {
    background: green; }
  .box .busy {
    background: red; }

.bg-one {
  background: red; }
