

<form class="form-login">
    <div class="form-group">
        <label>{{ model.name }}</label>
        <input type="text" placeholder="Username" class="form-control input-sm bounceIn animation-delay2">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Password" class="form-control input-sm bounceIn animation-delay4">
    </div>
    <div class="form-group">
        <label class="label-checkbox inline">
            <input type="checkbox" class="regular-checkbox chk-delete">
            <span class="custom-checkbox info bounceIn animation-delay4"></span>
        </label>
        Remember me
    </div>

    <div class="seperator"></div>
    <div class="form-group">
        Forgot your password?<br>
        Click <a href="#">here</a> to reset your password
    </div>

    <hr>

    <a class="btn btn-info btn-sm bounceIn animation-delay5 login-link pull-right" href="index.html"><i class="fa fa-sign-in"></i> Sign in</a>
</form>